In [2]:
import pandas as pd
from matplotlib import pyplot as plt


df = pd.read_csv("bonus_dataset.csv")

df.head()

  employee_id  performance  years_of_experience  projects_completed  bonus
0     EMP_001            7                    2                   4    124
1     EMP_002            4                    1                   4     82
2     EMP_003            8                    7                  10    178
3     EMP_004            5                    7                   8    138
4     EMP_005            7                    8                   9    170

In [18]:
import torch

performance = torch.tensor(df["performance"].values , dtype = torch.float32)
years_of_experience = torch.tensor(df["years_of_experience"].values , dtype = torch.float32)
projects_completed = torch.tensor(df["projects_completed"].values , dtype = torch.float32)
bonus = torch.tensor(df["bonus"].values , dtype = torch.float32)

In [42]:
w1 = torch.rand(1, requires_grad=True)
w2 = torch.rand(1, requires_grad=True)
w3 = torch.rand(1, requires_grad=True)
bias = torch.rand(1, requires_grad=True)

epochs = 10000
learning_rate = 0.005

for epoch in range(epochs):

    bonus_predicted  = w1*performance + w2*years_of_experience + w3*projects_completed + bias

    loss = ((bonus - bonus_predicted)**2).mean()
    loss.backward()
    
    with torch.no_grad():
        w1 -= learning_rate*w1.grad
        w2 -= learning_rate*w2.grad
        w3 -= learning_rate*w3.grad
        bias -= learning_rate*bias.grad


    w1.grad.zero_()
    w2.grad.zero_()
    w3.grad.zero_()
    bias.grad.zero_()

    if epoch % 100 == 0:
        print(f"epoch : {epoch} , loss : {loss.item():.2f}")

epoch : 0 , loss : 18057.80
epoch : 100 , loss : 17.46
epoch : 200 , loss : 15.59
epoch : 300 , loss : 13.92
epoch : 400 , loss : 12.42
epoch : 500 , loss : 11.09
epoch : 600 , loss : 9.90
epoch : 700 , loss : 8.84
epoch : 800 , loss : 7.89
epoch : 900 , loss : 7.05
epoch : 1000 , loss : 6.29
epoch : 1100 , loss : 5.62
epoch : 1200 , loss : 5.01
epoch : 1300 , loss : 4.48
epoch : 1400 , loss : 4.00
epoch : 1500 , loss : 3.57
epoch : 1600 , loss : 3.19
epoch : 1700 , loss : 2.84
epoch : 1800 , loss : 2.54
epoch : 1900 , loss : 2.27
epoch : 2000 , loss : 2.02
epoch : 2100 , loss : 1.81
epoch : 2200 , loss : 1.61
epoch : 2300 , loss : 1.44
epoch : 2400 , loss : 1.29
epoch : 2500 , loss : 1.15
epoch : 2600 , loss : 1.02
epoch : 2700 , loss : 0.91
epoch : 2800 , loss : 0.82
epoch : 2900 , loss : 0.73
epoch : 3000 , loss : 0.65
epoch : 3100 , loss : 0.58
epoch : 3200 , loss : 0.52
epoch : 3300 , loss : 0.46
epoch : 3400 , loss : 0.41
epoch : 3500 , loss : 0.37
epoch : 3600 , loss : 0.33
epoch : 3700 , loss : 0.29
epoch : 3800 , loss : 0.26
epoch : 3900 , loss : 0.23
epoch : 4000 , loss : 0.21
epoch : 4100 , loss : 0.19
epoch : 4200 , loss : 0.17
epoch : 4300 , loss : 0.15
epoch : 4400 , loss : 0.13
epoch : 4500 , loss : 0.12
epoch : 4600 , loss : 0.11
epoch : 4700 , loss : 0.09
epoch : 4800 , loss : 0.08
epoch : 4900 , loss : 0.08
epoch : 5000 , loss : 0.07
epoch : 5100 , loss : 0.06
epoch : 5200 , loss : 0.05
epoch : 5300 , loss : 0.05
epoch : 5400 , loss : 0.04
epoch : 5500 , loss : 0.04
epoch : 5600 , loss : 0.03
epoch : 5700 , loss : 0.03
epoch : 5800 , loss : 0.03
epoch : 5900 , loss : 0.02
epoch : 6000 , loss : 0.02
epoch : 6100 , loss : 0.02
epoch : 6200 , loss : 0.02
epoch : 6300 , loss : 0.02
epoch : 6400 , loss : 0.01
epoch : 6500 , loss : 0.01
epoch : 6600 , loss : 0.01
epoch : 6700 , loss : 0.01
epoch : 6800 , loss : 0.01
epoch : 6900 , loss : 0.01
epoch : 7000 , loss : 0.01
epoch : 7100 , loss : 0.01
epoch : 7200 , loss : 0.01
epoch : 7300 , loss : 0.00
epoch : 7400 , loss : 0.00
epoch : 7500 , loss : 0.00
epoch : 7600 , loss : 0.00
epoch : 7700 , loss : 0.00
epoch : 7800 , loss : 0.00
epoch : 7900 , loss : 0.00
epoch : 8000 , loss : 0.00
epoch : 8100 , loss : 0.00
epoch : 8200 , loss : 0.00
epoch : 8300 , loss : 0.00
epoch : 8400 , loss : 0.00
epoch : 8500 , loss : 0.00
epoch : 8600 , loss : 0.00
epoch : 8700 , loss : 0.00
epoch : 8800 , loss : 0.00
epoch : 8900 , loss : 0.00
epoch : 9000 , loss : 0.00
epoch : 9100 , loss : 0.00
epoch : 9200 , loss : 0.00
epoch : 9300 , loss : 0.00
epoch : 9400 , loss : 0.00
epoch : 9500 , loss : 0.00
epoch : 9600 , loss : 0.00
epoch : 9700 , loss : 0.00
epoch : 9800 , loss : 0.00
epoch : 9900 , loss : 0.00

In [44]:
w1.item() , w2.item() , w3.item() , bias.item()

(12.002771377563477, 5.990493297576904, 2.012681722640991, 19.938081741333008)

In [46]:

predicted_bonus_formula = w1.item()*performance +  w2.item() *years_of_experience+	w3.item()*projects_completed  + bias.item()